
@{
    ViewBag.Title = "About the MVC Demo";
}

<h2>About</h2>

<p>This demo illustrates usage of Autofac in an ASP.NET MVC environment. It also shows how to consume a WCF service.</p>

<p>Check out the Global.asax for how to set up the application.</p>

<p>Related docs:</p>

<ul>
    <li><a href="https://autofac.readthedocs.io/en/latest/integration/mvc.html">Autofac MVC Integration</a></li>
    <li><a href="https://autofac.readthedocs.io/en/latest/integration/wcf.html">Autofac WCF Integration</a></li>
</ul>
