<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.9.1" targetFramework="net452" />
  <package id="Autofac.Multitenant" version="4.2.0" targetFramework="net452" />
  <package id="Autofac.Multitenant.Wcf" version="4.0.0" targetFramework="net452" />
  <package id="Autofac.Mvc5" version="4.0.2" targetFramework="net452" />
  <package id="Autofac.Wcf" version="4.1.0" targetFramework="net452" />
  <package id="Castle.Core" version="4.3.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.6" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.6" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.6" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
</packages>