<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="aspnet:UseTaskFriendlySynchronizationContext"
             value="true" />
    </appSettings>
    <system.web>
        <compilation debug="true"
                     targetFramework="4.5.2" />
        <httpRuntime targetFramework="4.5.2" />
    </system.web>
    <system.serviceModel>
        <services>
            <service name="WcfExample.WebHostFactoryService">
                <endpoint address=""
                          behaviorConfiguration="WcfExample.WebHostFactoryService"
                          binding="webHttpBinding"
                          contract="WcfExample.IService" />
            </service>
            <service name="WcfExample.HostFactoryService">
                <endpoint address=""
                          binding="basicHttpBinding"
                          contract="WcfExample.IService" />
            </service>
        </services>
        <behaviors>
            <endpointBehaviors>
                <behavior name="WcfExample.WebHostFactoryService">
                    <webHttp />
                </behavior>
            </endpointBehaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true"
                                     httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <protocolMapping>
            <add binding="basicHttpsBinding"
                 scheme="https" />
        </protocolMapping>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
                                   multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true" />
        <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
        -->
        <directoryBrowse enabled="true" />
    </system.webServer>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Autofac"
                                  publicKeyToken="17863af14b0044da"
                                  culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.1.0"
                                 newVersion="4.1.1.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
